<form [formGroup]="form" class="filters-form">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'orders.filters.fromDate' | translate }}</mat-label>
    <input matInput formControlName="dateFrom" [matDatepicker]="fromPicker" />
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker" />
    <mat-datepicker #fromPicker />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'orders.filters.toDate' | translate }}</mat-label>
    <input matInput formControlName="dateTo" [matDatepicker]="toPicker" />
    <mat-datepicker-toggle matIconSuffix [for]="toPicker" />
    <mat-datepicker #toPicker />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'orders.filters.status' | translate }}</mat-label>
    <mat-select formControlName="status">
      <mat-select-trigger>
        {{ ('status.' + form.controls.status.value) | translate }}
      </mat-select-trigger>
      @for (opt of statusOptions; track opt) {
        <mat-option [value]="opt">
          {{ ('status.' + opt) | translate }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'orders.filters.payment' | translate }}</mat-label>
    <mat-select formControlName="paymentMethod">
      <mat-select-trigger>
        {{ ('payment.' + form.controls.paymentMethod.value) | translate }}
      </mat-select-trigger>
      @for (opt of paymentOptions; track opt) {
        <mat-option [value]="opt">
          {{ ('payment.' + opt) | translate }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'orders.filters.searchOrderId' | translate }}</mat-label>
    <input
      matInput
      formControlName="searchOrderId"
      [placeholder]="'orders.filters.searchOrderIdPlaceholder' | translate"
    />
  </mat-form-field>

  <div class="filters-actions">
    <button mat-stroked-button type="button" (click)="reset()">
      {{ 'orders.filters.reset' | translate }}
    </button>
  </div>
</form>
